<!-- preloader -->
		<div id="preloader">
            <div class="loder-box">
            	<div class="battery"></div>
            </div>
		</div>
		<!-- end preloader -->

        <!--
        Fixed Navigation
        ==================================== -->
        <header id="navigation" class="navbar-inverse navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
                    </button>
					<!-- /responsive nav button -->
					
					<!-- logo -->
					<h1 class="navbar-brand">
						<a style="font-size: 0.8em;" href="#body">Токарев С.А.</a>
					</h1>
					<!-- /logo -->
                </div>

				<!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <ul id="nav" class="nav navbar-nav">
                        <li><a href="#body">Домой</a></li>
                        <li><a href="#service">О нас</a></li>
                        <li><a href="#portfolio">Наши работы</a></li>
                        <!-- <li><a href="#testimonials">Testimonial</a></li> -->
                        {{!-- <li><a href="#price">Цены</a></li> --}}
                        <li><a href="#contact">Контакты</a></li>
                    </ul>
                </nav>
				<!-- /main nav -->
				
            </div>
        </header>
        <!--
        End Fixed Navigation
        ==================================== -->
		
		<main class="site-content" role="main">
		
        <!--
        Home Slider
        ==================================== -->
		
		<section id="home">
			<div id="jmb-home" class="jumbotron jumbotron-fluid homepart">
						<img src="img/alogo.bmp" alt="">
				<div class="container">
					<div class="about-home">
						<h2 style="text-align: center; color: whitesmoke;" class="title-home">Автоматизация оборудования. Разработка шкафов управления. Модернизация кривошипных и гидравлических прессов. Ремонт электрики кривошипных и гидравлических прессов. Модернизация шкафов управления Я9102 прессов марок КД2124, К2128, К2130, К2320, И1330, НА3225 и др.</h2>
						<p style="text-align: center; color: whitesmoke;">Программирование ПЛК. </p>
					</div>
				</div>
			</div>
		</section>
		
        <!--
        End Home SliderEnd
        ==================================== -->
			
			<!-- about section -->
			<section id="about" >
				<div class="container">
					<div class="row">
						<!-- -->
						<div class="col-md-7 col-md-offset-1 wow animated fadeInRight">
							<div class="welcome-block">
								 								
						     	 <div class="message-body">
									<img src="img/logo.jpg" class="pull-left" alt="member">
						       		<p>ИП Токарев гарантирует качество работы  и наши клиенты обращаются к нам снова со своими проблемами на другом своем оборудовании. Мы оказываем услуги в Минске и по всей Республике.</p>
									<br>
									<p>Мы  рассчитываем на успешное сотрудничество с Вашей компанией и ценим возможность помочь вам повысить эффективность своего производства. Мы убеждены, что сможем решить поставленные задачи, и готовы предоставить Вам эффективное <b>ИТ-решение</b>.</p>
									<br>
									
						     	 </div>
						       	{{!-- <a href="#" class="btn btn-border btn-effect pull-right">Read More</a> --}}
						    </div>
						</div>
					</div>
				</div>
			</section>
			<!-- end about section -->
			
			
			<!-- Service section -->
			<section id="service">
				<div class="container">
					<div class="row">
					
						<div class="sec-title text-center">
							<h2 class="wow animated bounceInLeft">О нас</h2>							
						</div>
						
						<div class="col-md-2 col-sm-6 col-xs-12 text-center wow animated zoomIn">
							<div class="service-item">
								<div class="service-icon">
									<i class="fa fa-wrench fa-3x"></i>
								</div>
								<p>Выполняем работы по монтажу, ремонту и обновлению (модернизации) шкафов управления станками и промышленным оборудованием, в том числе, управляемым ПЛК.</p>
							</div>
						</div>
					
						<div class="col-md-2 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
							<div class="service-item">
								<div class="service-icon">
									<i class="fa fa-tasks fa-3x"></i>
								</div>								
								<p>Устанавливаем частотные преобразователи на электродвигатели. Автоматизируем процессы. </p>
							</div>
						</div>
					
						<div class="col-md-2 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s">
							<div class="service-item">
								<div class="service-icon">
									<i class="fa fa-cube fa-3x"></i>
								</div>								 
								<p>Создаём 3D-модели деталей по вашим чертежам и деталям для обработки на ЧПУ </p>
							</div>
						</div>
					
						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s">
							<div class="service-item">
								<div class="service-icon">
									<i class="fa fa-cogs fa-3x"></i>
								</div>								
								<p>Мы разрабатываем и изготовливаем оборудования по Вашим ТЗ в рамках наших компетенций и возможностей. </p>							
							</div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s">
							<div class="service-item">
								<div class="service-icon">
									<i class="fa fa-map-o fa-3x"></i>
								</div>
								<p>МПереводим в цифровой вид бумажные чертежи, оцифровываем детали для последующей обработки на ЧПУ, (3D-модели). </p>							
							</div>
						</div>
						
					</div>
				</div>
			</section>
			<!-- end Service section -->
			
			<!-- portfolio section -->
			<section id="portfolio">
				<div class="container">
					<div class="row">
					
						<div class="sec-title text-center wow animated fadeInDown">
							<h2>Наши работы</h2>
						</div>
						

						<ul class="project-wrapper wow animated fadeInUp">
							<li class="portfolio-item">
								<img src="img/portfolio/plito_3d_press.jpg" class="img-responsive" alt="3D модель вибропресса для производства тротуарной плитки">
								<figcaption class="mask">
									<h3>Вибропресс для производства тротуарной плитки.</h3>
									<p>3D модель вибропресса для производства тротуарной плитки (САПР SolidWorks). Пресс разрабатывался "с нуля". Разработана, продумана и просчитана каждая деталь. </p>
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="" data-fancybox-group="works" href="img/portfolio/plito_3d_press.jpg"><i class="fa fa-search"></i></a></li>
									{{!-- <li><a href=""><i class="fa fa-link"></i></a></li> --}}
								</ul>
							</li>
							
							<li class="portfolio-item">
								<img src="img/portfolio/press_electro_2.jpg" class="img-responsive" alt="Шкаф управления прессом для прессования тротуарной плитки ">
								<figcaption class="mask">
									<h3>Шкаф управления прессом для прессования тротуарной плитки.</h3>
									<p>Сконструирован новый  шкаф управления прессом для прессования тротуарной плитки. В результате увеличена производительность пресса. </p>
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="" href="img/portfolio/press_electro_2.jpg" data-fancybox-group="works" ><i class="fa fa-search"></i></a></li>
									{{!-- <li><a href=""><i class="fa fa-link"></i></a></li> --}}
								</ul>
							</li>
							
							<li class="portfolio-item">
								<img src="img/portfolio/dosator_electro.jpg" class="img-responsive" alt="Шкаф автоматического весового дозирования сырья">
								<figcaption class="mask">
									<h3>Шкаф автоматического весового дозирования сырья</h3>
									<p>Сконструирован шкаф автоматического  весового   дозирования сырья на 3 компонента  (песок, цемент, вода) для автоматизации участка подготовки сырья прессования плитки тротуарной.</p>
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="" data-fancybox-group="works" href="img/portfolio/dosator_electro.jpg"><i class="fa fa-search"></i></a></li>
									{{!-- <li><a href=""><i class="fa fa-link"></i></a></li> --}}
								</ul>
							</li>
							
							<li class="portfolio-item">
								<img src="img/portfolio/dosator_tate.jpg" class="img-responsive" alt="Участок весового дозирования сырья">
								<figcaption class="mask">
									<h3>Участок весового дозирования сырья</h3>
									<p>Автоматизация участка весового дозирования  сырья на три компонента на минском предприятии.</p>
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="" data-fancybox-group="works" href="img/portfolio/dosator_tate.jpg"><i class="fa fa-search"></i></a></li>
									{{!-- <li><a href=""><i class="fa fa-link"></i></a></li> --}}
								</ul>
							</li>
							
							<li class="portfolio-item">
								<img src="img/portfolio/smesitel_plastic.jpg" class="img-responsive" alt="Шкаф управления смесителем компонентов ПВХ">
								<figcaption class="mask">
									<h3>Шкаф управления смесителем компонентов ПВХ</h3>
									<p>Разработка шкафа управления смесителем компонентов ПВХ на минском предприятии. Модернизация позволила внедрить автоматизацию процесса смешивания компонентов, добавила возможность вносить рецептуры составов ПВХ и собирать в электронном виде информацию о замесах и состоянии оборудования.</p>
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="" data-fancybox-group="works" href="img/portfolio/smesitel_plastic.jpg"><i class="fa fa-search"></i></a></li>
									{{!-- <li><a href=""><i class="fa fa-link"></i></a></li> --}}
								</ul>
							</li>
							
							<li class="portfolio-item">
								<img src="img/portfolio/листогиб.jpg" class="img-responsive" alt="Капитальный ремонт пресса-листогиба">
								<figcaption class="mask">
									<h3>Капитальный ремонт пресса-листогиба</h3>
									<p>Капитальный ремонт пресса-листогиба с заменой неисправного электрооборудования. Установлен обновленный шкаф управления в котором восстановлен контроль усилия, восстановлены все функции блокировки, заложенные производителем. Сейчас Листогиб без нареканий  выполняет технологические задачи на Светлогорском предприятии агротехнического сектора.</p>
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="" data-fancybox-group="works" href="img/portfolio/листогиб.jpg"><i class="fa fa-search"></i></a></li>
									{{!-- <li><a href=""><i class="fa fa-link"></i></a></li> --}}
								</ul>
							</li>
						</ul>
						
					</div>
				</div>
			</section>
			<!-- end portfolio section -->
			
			<!-- Testimonial section -->
			<!-- <section id="testimonials" class="parallax">
				<div class="overlay">
					<div class="container">
						<div class="row">
						
							<div class="sec-title text-center white wow animated fadeInDown">
								<h2>What people say</h2>
							</div>
							
							<div id="testimonial" class=" wow animated fadeInUp">
								<div class="testimonial-item text-center">
									<img src="img/member-1.jpg" alt="Our Clients">
									<div class="clearfix">
										<span>Katty Flower</span>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
									</div>
								</div>
								<div class="testimonial-item text-center">
									<img src="img/member-1.jpg" alt="Our Clients">
									<div class="clearfix">
										<span>Katty Flower</span>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
									</div>
								</div>
								<div class="testimonial-item text-center">
									<img src="img/member-1.jpg" alt="Our Clients">
									<div class="clearfix">
										<span>Katty Flower</span>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
									</div>
								</div>
							</div>
						
						</div>
					</div>
				</div>
			</section> -->
			<!-- end Testimonial section -->
			
			<!-- Price section -->
			{{!-- <section id="price">
				<div class="container">
					<div class="row">
					
						<div class="sec-title text-center wow animated fadeInDown">
							<h2>Price</h2>
							<p>Our price for your company</p>
						</div>
						
						<div class="col-md-4 wow animated fadeInUp">
							<div class="price-table text-center">
								<span>Silver</span>
								<div class="value">
									<span>$</span>
									<span>24,35</span><br>
									<span>month</span>
								</div>
								<ul>
									<li>No Bonus Points</li>
									<li>No Bonus Points</li>
									<li>No Bonus Points</li>
									<li>No Bonus Points</li>
									<li><a href="#">sign up</a></li>
								</ul>
							</div>
						</div>
						
						<div class="col-md-4 wow animated fadeInUp" data-wow-delay="0.4s">
							<div class="price-table featured text-center">
								<span>Gold</span>
								<div class="value">
									<span>$</span>
									<span>50,00</span><br>
									<span>month</span>
								</div>
								<ul>
									<li>Free Trial</li>
									<li>Free Trial</li>
									<li>Free Trial</li>
									<li>Free Trial</li>
									<li><a href="#">sign up</a></li>
								</ul>
							</div>
						</div>
						
						<div class="col-md-4 wow animated fadeInUp" data-wow-delay="0.8s">
							<div class="price-table text-center">
								<span>Diamond</span>
								<div class="value">
									<span>$</span>
									<span>123,12</span><br>
									<span>month</span>
								</div>
								<ul>
									<li>All Bonus Points</li>
									<li>All Bonus Points</li>
									<li>All Bonus Points</li>
									<li>All Bonus Points</li>
									<li><a href="#">sign up</a></li>
								</ul>
							</div>
						</div>
		
					</div>
				</div>
			</section> --}}
			<!-- end Price section -->
			
			<!-- Social section -->
			<section id="social" class="parallax">
				<div class="overlay">
					<div class="container">
						{{!-- <div class="row">
						
							<div class="sec-title text-center white wow animated fadeInDown">
								<h2>FOLLOW US</h2>
								<p>Beautifully simple follow buttons to help you get followers on</p>
							</div>
							
							<ul class="social-button">
								<li class="wow animated zoomIn"><a href="#"><i class="fa fa-thumbs-up fa-2x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.6s"><a href="#"><i class="fa fa-dribbble fa-2x"></i></a></li>							
							</ul>
							
						</div> --}}
					</div>
				</div>
			</section>
			<!-- end Social section -->
			
			<!-- Contact section -->
			<section id="contact" >
				<div class="container">
					<div class="row">
						
						<div class="sec-title text-center wow animated fadeInDown">
							<h2>Наши контакты:</h2>
							<p>Если у Вас есть вопросы, пожалуйста напишите нам. Мы свяжемся с Вами в течении нескольких минут.</p>
						</div>
						
						
						<div class="col-md-7 contact-form wow animated fadeInLeft">
							<form id="contacts-form">
								<div class="input-field">
									<input type="text" name="name" class="form-control" placeholder="Ваше имя...">
								</div>
								<div class="input-field">
									<input type="email" name="email" class="form-control" placeholder="Ваш email...">
								</div>
								<div class="input-field">
									<input type="number" name="phone" class="form-control" placeholder="Ваш № телефона...">
								</div>
								<div class="input-field">
									<textarea name="message" class="form-control" placeholder="Сообщение..."></textarea>
								</div>
						       	<button type="button" id="submit" class="btn btn-blue btn-effect">Отправить</button>
							</form>
						</div>
						
						<div class="col-md-5 wow animated fadeInRight">
							<address class="contact-details">
								<h3>Наши контакты:</h3>
														
								<p><i class="fa fa-pencil"></i>Республика Беларусь<span>Минск</span> </p><br>
								<p><i class="fa fa-phone"></i>Телефоны: +375(25) 5029190, +375(29) 8909315 </p>
								<p><i class="fa fa-envelope"></i>Aprillt@mail.ru</p>
							</address>
						</div>
			
					</div>
				</div>
			</section>
			<!-- end Contact section -->
			
			
		
		</main>
		
		<footer id="footer">
			<div class="container">
				<div class="row text-center">
					{{!-- <div class="footer-content">
						<div class="wow animated fadeInDown">
							<p>newsletter signup</p>
							<p>Get Cool Stuff! We hate spam!</p>
						</div>
						<form action="#" method="post" class="subscribe-form wow animated fadeInUp">
							<div class="input-field">
								<input type="email" class="subscribe form-control" placeholder="Enter Your Email...">
								<button type="submit" class="submit-icon">
									<i class="fa fa-paper-plane fa-lg"></i>
								</button>
							</div>
						</form> --}}
						{{!-- <div class="footer-social">
							<ul>
								<li class="wow animated zoomIn"><a href="#"><i class="fa fa-thumbs-up fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="#"><i class="fa fa-telegram fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.6s"><a href="#"><i class="fa fa-skype fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.9s"><a href="#"><i class="fa fa-dribbble fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="1.2s"><a href="#"><i class="fa fa-youtube fa-3x"></i></a></li>
							</ul>
						</div> --}}
						
					</div>
				</div>
			</div>
		</footer>